body{
    margin: 0;
}

.contenedor{
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* border: 1px solid red; */
}

.barralateral{
    flex-grow: 1;
    /* border: 1px solid red; */
    
}
.contenido{
    flex-grow: 4;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* border: 1px solid red;    */
}


.perfil{
    display: flex;    
    border-bottom: 1px solid #ccc; 

    /* border: 1px solid red; */
}

.perfil img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 4px;
}

.nombre{
    margin-top: 9px;
    font-weight:bold;
    margin-bottom: 0px;
    /* border: 1px solid red; */
}

.estado{
    font-size: 10px;
    color: gray;
    margin-bottom: 0px;
    margin-top: 0px;
    /* border: 1px solid red; */
}

.texto_perfil{
    margin-top: 1px; 
    /* border: 1px solid rebeccapurple; */
}

/* Botón Nuevo Chat */
.nuevo_chat{
    padding: 15px;
    display: flex; 
    justify-content: center;
    /* border: 1px solid red; */
    
}

.boton{
    background-color: blueviolet;
    padding: 8px;
    color: white;
    margin-top: 4px;
}

.texto_conteni2{
    font-size: 29px;
    text-align: center;
}

.conteni1{
    display: flex;
    justify-content: center;
    
}

.texto_conteni2{
    margin: 0px;
    padding: 0px;
    
}

.texto_conteni3{
    text-align: center;
    margin: 0px;
}

.perfil1{
    display: flex;    
    border-bottom: 1px solid #ccc;
    justify-content: space-between; /* Alinea los elementos al principio y al final del contenedor */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    padding-right: 10px; /* Añade algo de padding a la derecha para que el contenido no toque el borde */
}

.menu{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; /* Alinea la imagen del menú hacia la derecha */
}

.menu img {
    width: 24px; /* o el tamaño que prefieras */
    height: auto; /* mantiene la proporción de la imagen */
}
